[submodule "node_modules/hotClientDojo/client/lib/dstore"]
	path = node_modules/hotClientDojo/client/lib/dstore
	url = https://github.com/sitepen/dstore
[submodule "node_modules/hotClientDojo/client/lib/xstyle"]
	path = node_modules/hotClientDojo/client/lib/xstyle
	url = https://github.com/kriszyp/xstyle
[submodule "node_modules/hotClientDojo/client/lib/put-selector"]
	path = node_modules/hotClientDojo/client/lib/put-selector
	url = https://github.com/kriszyp/put-selector
[submodule "node_modules/hotClientDojo/client/lib/dgrid"]
	path = node_modules/hotClientDojo/client/lib/dgrid
	url = https://github.com/SitePen/dgrid.git
