[submodule "node_modules/hotDojoDgridWidgets/client/dgrid"]
	path = node_modules/hotDojoDgridWidgets/client/dgrid
	url = https://github.com/mercmobily/dgrid.git
[submodule "node_modules/hotDojoDgridWidgets/client/xstyle"]
	path = node_modules/hotDojoDgridWidgets/client/xstyle
	url = https://github.com/kriszyp/xstyle.git
[submodule "node_modules/hotDojoDgridWidgets/client/put-selector"]
	path = node_modules/hotDojoDgridWidgets/client/put-selector
	url = https://github.com/kriszyp/put-selector.git
