!!!
head#head
  title#Booking Dojo
  link(type='text/css', rel='stylesheet', href="/app/rrl.css")
body.claro
  h1 Sorry! 
  #loginForm
    Sorry! Booking dojo is down at the moment, please try again later!
    
